<div class="sp-verify-email-component">
  <div class="sp-title">Verify email</div>
  <div rv-show="state | is 'invalid'">No email verification token provided. Please verify that you've setup this component correctly.</div>
  <div rv-show="state | is 'verifying'">We are verifying your account.</div>
  <div rv-show="state | is 'verified'">Your account has has been verified!</div>
  <div rv-show="state | is 'post_error'">Sorry, an unknown error has occurred.</div>
  <div rv-show="state | is 'sent'">
    <p>
      <span class="icon-success"></span>
      <span class="text-success">Email Sent</span>
    </p>
    We’ve sent a link to verify your email to {login}. Please check your email and click that link to continue.
  </div>
  <div rv-show="state | is 'error'">
    <p>
      <span class="icon-warning"></span>
      <span class="text-warning">Expired or invalid link.</span>
    </p>
    <p>
      <span>This link expired for your security. Enter your email address, and we’ll send you a new link to verify it.</span>
    </p>
    <form rv-show="state | isnt 'sent'">
      <div rv-each-field="fields">
        <label rv-for="field.name | prefix 'forgot-password-field-'">{field.label}</label>
        <input rv-id="field.name | prefix 'forgot-password-field-'"
               rv-type="field.type"
               rv-name="field.name"
               rv-value="field.value"
               rv-placeholder="field.placeholder"
               rv-required="field.required"
               rv-disabled="state | is 'sending'" />
      </div>
      <div rv-show="state | is 'error'">{error.message}</div>
      <button rv-on-click="onFormSubmit" rv-disabled="state | is 'sending'">Send verification link</button>
    </form>
  </div>
</div>
