<div class="sp-change-password-component">
  <div class="sp-title">Reset password</div>

  <div rv-show="state | is 'verifying'">
    <p>We are verifying this link...</p>
  </div>

  <div rv-show="state | is 'invalid_token'">
    <p>
      <span class="sp-icon-warning"></span>
      <span class="sp-text-warning">Expired Link</span>
    </p>
    <p>
      Unable to change your password. This can be because the link you tried to use has expired.
    </p>

    <button rv-on-click="viewManager.showForgotPassword">Try again</button>
  </div>

  <div rv-show="state | is 'verified'">
    <p>Almost done! Choose a new password to use from now on.</p>
  </div>

  <div rv-show="state | is 'changed'">
    <p>
      <span class="sp-icon-success"></span>
      <span class="sp-text-success">Your password has been changed.</span>
    </p>
    <p>
      All set! You can now log in to your account.
    </p>
    <p><button rv-on-click="viewManager.showLogin">Continue To Login</button></p>
  </div>

  <form rv-show="state | in 'verified,sending,validation_error,request_error'" rv-class="state | prefix 'sp-form-'" rv-on-submit="onFormSubmit">
    <fieldset class="sp-form-group">
      <sp-form-fields fields="fields" name-prefix="'sp-form-change-password'"></sp-form-fields>
    </fieldset>

    <div class="sp-error-text" rv-show="state | is 'validation_error'">{error.message}</div>

    <div class="sp-form-group">
      <sp-submit-button label="'Change password'" submitting="props.isSubmitting"></sp-submit-button>
    </div>
  </form>
</div>
