<div class="sp-change-password-component">
  <div rv-show="state | is 'verifying'">We are verifying this link.</div>

  <div rv-show="state | is 'invalid_token'">
    Invalid token. <button rv-on-click="showForgotPassword">Click here to try again.</button>
  </div>

  <div rv-show="state | is 'changed'">
    Your password has been changed. <button rv-on-click="showLogin">Continue To Login</button>
  </div>

  <form rv-show="state | in 'verified,sending,validation_error,request_error'">
    <sp-form-field
      rv-each-field="fields"
      model="field"
      name-prefix="'change-password-field'">
    </sp-form-field>
    <div rv-show="state | is 'validation_error'">{error.message}</div>
    <div rv-show="state | is 'request_error'">{error.message}</div>
    <button rv-on-click="onFormSubmit" rv-disabled="state | is 'sending'">Change Password</button>
  </form>
</div>
