<div class="sp-change-password-component">
  <div sp-show="state | is 'verifying'">We are verifying this link.</div>

  <div sp-show="state | is 'invalid_token'">
    Invalid token. <button sp-on-click="showForgotPassword">Click here to try again.</button>
  </div>

  <div sp-show="state | is 'changed'">
    Your password has been changed. <button sp-on-click="showLogin">Continue To Login</button>
  </div>

  <form sp-show="state | in 'verified,sending,validation_error,request_error'">
    <sp-form-field
      sp-each-field="fields"
      model="field"
      name-prefix="'change-password-field'">
    </sp-form-field>
    <div sp-show="state | is 'validation_error'">{error.message}</div>
    <div sp-show="state | is 'request_error'">{error.message}</div>
    <button sp-on-click="onFormSubmit" sp-disabled="state | is 'sending'">Change Password</button>
  </form>
</div>
