@import "../common/icons.less";
@import "../common/text.less";

.sp-change-password-component {
    .sp-message {
        margin-bottom: 20px;
    }

    .sp-error-message {
        margin-top: 5px;
        color: #C20037;
    }
    .sp-form-validation_error {
        color: #C20037;

        input {
            color: #C20037!important;
            border-color: #C20037!important;
        }
    }
}