@import "../common/variables.less";

.sp-overlay {
  display: none;

  &.sp-active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: @modal-z;
  }
}

.sp-modal {
  background-color: @color-background;
  display: none;
  outline: none;

  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;

  line-height: 1.2rem;

  color: @color-text;

  p {
    padding: 5px 0;
  }

  a {
    // Froces a cursor pointer for <a> tags that have no href
    cursor: pointer;
  }

  &.sp-active {
    display: block;
    background-color: white;
    width: @modal-width;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: round(@modal-width / -2);
    z-index: @modal-z + 1;
    overflow: hidden;
  }

  .sp-modal-header {
    position: relative;
    background-color: @color-header;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    padding: 20px 0 15px 0;
  }

  .sp-title {
    display: none; // Handled by JS
  }

  .sp-modal-title {
    font-weight: 400;
    font-size: 1rem;
  }

  .sp-modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: @color-header;
    color: @color-disabled;
    border-style: none;
    font-size: 2rem;
    font-weight: 300;
  }

  .sp-modal-content {
    margin: 30px;
    font-size: 0.8rem;

    .sp-form-group {
      padding: 0 0 20px 0;
    }

    .sp-form-field-group {
      position: relative;
    }

    .sp-light {
      color: @color-disabled;
    }

    .sp-right {
      float: right;
    }

    form {
      width: @form-width;
    }

    fieldset {
      margin: 0;
      border: none;
    }

    input {
      width: @form-width;
      font-size: 1rem;
      margin-bottom: 15px;
    }

    input[type=text], input[type=password] {
      border-style: solid;
      border-color: @color-disabled;
      border-width: 1px;
      height: 2rem;
      padding-left: @input-padding-left;
      width: @form-width - @input-padding-left;
    }

    button {
      width: @form-width;
      margin: .5rem 0;
      font-size: 1.25rem;
      font-weight: 300;
      background-color: @color-primary;
      color: white;
      border: none;
      height: 3rem;
      -webkit-transition: background-color @quick-transition-duration;
      transition: background-color @quick-transition-duration;
      position: relative;
      overflow: hidden;
    }

    button:disabled {
      background-color: @color-primary-disabled;
    }

    label, a {
      font-weight: 600;
      padding: .5rem 0;
    }

    label {
      display: block;
      font-size: 0.9rem;
    }

    a {
      color: @color-primary;
      text-decoration: none;
    }

    hr {
      color: @color-disabled;
      border-style: solid none none none;
      padding: 5px 0 15px 0;
    }
  }
}
