@import (reference) "../common/variables.less";

.sp-overlay {
  display: none;

  &.sp-active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: @modal-z;
  }
}

.sp-modal {
  display: none;
  outline: none;
  box-sizing: border-box;
  font-family: @font;

  background-color: white;
  width: @modal-width;
  position: fixed;
  top: 10%;
  left: 50%;
  margin-left: round(@modal-width / -2);
  z-index: @modal-z + 1;
  overflow: hidden;

  @media only screen and (max-width : 450px) {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    overflow-y: scroll;
  }

  &.sp-active {
    display: block;

  }

  .sp-modal-header {
    position: relative;
    background-color: @color-header;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    padding-top: 18px;
    box-sizing: border-box;
    height: @modal-titlebar-height;
  }

  .sp-title {
    display: none; // sp-modal-title is displayed instead
  }

  .sp-modal-title {
    font-weight: 400;
    font-size: 1.1rem;
    color: @color-text;
  }

  .sp-modal-close {
    background-repeat: no-repeat;
    background-image: url('../../assets/close.svg');
    position: absolute;
    top: (@modal-titlebar-height / 2) - 5;
    right: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .sp-modal-content {
    display: flex;
    justify-content: center;

    .sp-container {
      min-height: @container-width - @modal-titlebar-height;
    }
  }
}
