@import "../common/variables.less";

.sp-overlay {
  display: none;

  &.sp-active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: @modal-z;
  }
}

.sp-modal {
  display: none;
  outline: none;

  &.sp-active {
    display: block;
    background-color: white;
    width: @modal-width;
    position: fixed;
    top: 10%;
    left: 50%;
    margin-left: round(@modal-width / -2);
    z-index: @modal-z + 1;
    overflow: hidden;
  }

  .sp-modal-header {
    position: relative;
    background-color: @color-header;
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    padding: 20px 0 15px 0;
  }

  .sp-title {
    display: none; // Handled by JS
  }

  .sp-modal-title {
    font-weight: 400;
    font-size: 1rem;
  }

  .sp-modal-close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: @color-header;
    color: @color-disabled;
    border-style: none;
    font-size: 2rem;
    font-weight: 300;
  }

  .sp-modal-content .sp-container {
    outline: none;
  }
}
