<div class="sp-registration-component">
  <div sp-show="state | is 'loading'">Loading view model</div>
  <div sp-show="state | is 'loading_error'">Error: {error.message}</div>
  <div sp-show="state | is 'account_enabled'">Your account has been created. You are now ready to login.</div>
  <div sp-show="statis | is 'account_pending'">Your account has been created. Please check your email for a verification link.</div>
  <form sp-show="state | in 'ready,validation_error'">
    <div sp-each-field="fields">
      <label for="#login-field-{field.name}">{field.label}</label>
      <input sp-type="field.type" sp-name="field.type" sp-value="field.value" />
    </div>
    <div sp-show="state | is 'validation_error'">{error.message}</div>
    <button sp-on-click="onFormSubmit">Register</button>
  </form>
</div>