<div class="sp-forgot-password-component">
  <div class="sp-title">Reset password</div>
  <div rv-show="state | is 'loading_error'">Error: {error.message}</div>
  <div rv-show="state | is 'sent'">Please check your email</div>
  <form rv-show="state | isnt 'sent'">
    <div rv-each-field="fields">
      <label rv-for="field.name | prefix 'forgot-password-field-'">{field.label}</label>
      <input rv-id="field.name | prefix 'forgot-password-field-'"
             rv-type="field.type"
             rv-name="field.name"
             rv-value="field.value"
             rv-placeholder="field.placeholder"
             rv-required="field.required"
             rv-disabled="state | is 'sending'" />
    </div>
    <div rv-show="state | is 'error'">{error.message}</div>
    <button rv-on-click="onFormSubmit" rv-disabled="state | is 'sending'">Send Password Link</button>
  </form>
</div>
