<div class="sp-forgot-password-component">
  <div class="sp-title">Reset password</div>

  <div rv-show="state | in 'ready,validation_error'" class="sp-message">
    Forgot your password? We'll send you a link to create a new one.
  </div>

  <div rv-show="state | is 'sent'" class="sp-message sp-success">
    <p class="sp-headline"><span class="sp-headline-icon"></span> Email sent</p>
    <p>Please check your email. We've sent a<br>link to change your password to <span rv-each-field="fields">{field.value}</span>.</p>
  </div>

  <div rv-show="state | is 'expired'" class="sp-message sp-warning">
    <p class="sp-headline"><span class="sp-headline-icon"></span> Expired link</p>
    <p>This link expired for your security. Enter your email address, and we'll send you a new link to change your password.</p>
  </div>

  <div rv-show="state | is 'loading_error'" class="sp-message">Error: {error.message}</div>

  <form rv-show="state | isnt 'sent' | state is 'expired' | state is 'validation_error'" rv-class="state | prefix 'sp-form-'">
    <div rv-each-field="fields">
      <label rv-for="field.name | prefix 'forgot-password-field-'">{field.label}</label>
      <input rv-id="field.name | prefix 'forgot-password-field-'"
             rv-type="field.type"
             rv-name="field.name"
             rv-value="field.value"
             rv-placeholder="field.placeholder"
             rv-required="field.required"
             rv-disabled="state | is 'sending'"/>
    </div>
    <div class="sp-validation-error" rv-show="state | is 'validation_error'"><span class="sp-error-icon"></span> {error.message}</div>
    <button rv-on-click="onFormSubmit" rv-disabled="state | is 'sending'">Send reset link</button>
  </form>
</div>
