<div class="sp-forgot-password-component">
  <div class="sp-title">Reset password</div>

  <div rv-show="state | in 'ready,post_error,sending'">
    <p>
      Forgot your password? We'll send you a link to create a new one.
    </p>
  </div>

  <div rv-show="state | is 'sent'">
    <p>
      <span class="sp-icon-success"></span>
      <span class="sp-text-success">Email Sent</span>
    </p>
    <p>Please check your email. We've sent a link to change your password to {email}.</p>
  </div>

  <div rv-show="state | is 'expired'">
    <p>
      <span class="sp-icon-warning"></span>
      <span class="sp-text-warning">Expired Link</span>
    </p>
    <p>This link expired for your security. Enter your email address, and we'll send you a new link to change your password.</p>
  </div>

  <div rv-show="state | is 'post_error'" class="sp-error-text">Error: {error.message}</div>

  <form rv-show="state | isnt 'sent' | state is 'expired' | state is 'validation_error'" rv-class="state | prefix 'sp-form-'" rv-on-submit="onFormSubmit">
    <fieldset class="sp-form-group">
      <sp-form-fields fields="fields" name-prefix="'forgot-password-field'"></sp-form-fields>
    </fieldset>

    <div class="sp-form-group">
      <sp-submit-button label="'Send reset link'" submitting="props.isSubmitting"></sp-submit-button>
    </div>
  </form>
</div>
