@import "../common/variables.less";

.sp-forgot-password-component {
    .sp-validation-error {
        color: #C20037;
    }

    .sp-message {
        margin-bottom: 20px;

        .sp-headline {
            margin-bottom: 30px;
        }

        &.sp-success {
            .sp-headline {
                color: #1BD27D;
            }
        }

        &.sp-error {
            .sp-headline {
                color: #C20037;
            }
        }

        &.sp-warning {
            .sp-headline {
                color: #FFAB19;
            }
        }
    }

    form {
        input {
            border-color: #009DFF!important;
            margin-top: 4px;
            margin-bottom: 6px!important;
        }

        button {
            margin-top: 30px;
        }
    }

    .sp-form-validation_error {
        color: #C20037;

        input {
            color: #C20037!important;
            border-color: #C20037!important;
        }
    }
}