@import (reference) "variables.less";

@social-icon-width: 24px;
@social-icon-padding: 24px;

@color-google: #fff;
@color-facebook: #3b5998;
@color-github: #444;
@color-linkedin: #007bb6;
@color-twitter: #00a5d5;
@color-saml: #999;

.sp-social-separator {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid @color-disabled;
  line-height: 0.1em;
  margin: 15px 0 10px;
  padding-bottom: 0;

  span {
    background-color: @color-background;
    color: darken(@color-disabled, 10%);
    padding: 0 15px;
  }
}

.sp-social-login {
  padding: 10px 0 20px 0;

  &.sp-social-login-sm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: @container-width;
  }

  .sp-social-login-btn {
    display: block;
    height: 3rem;
    line-height: 3rem;
    font-size: 1rem;
    font-weight: 400;
    border: none;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 0 0 @social-icon-width + @social-icon-padding;
    color: white;
    -webkit-transition: background-color @quick-transition-duration,border-color @quick-transition-duration,box-shadow @quick-transition-duration;
    transition: background-color @quick-transition-duration,border-color @quick-transition-duration,box-shadow @quick-transition-duration;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: @container-width;
    margin-bottom: 5px;
  }

  &.sp-social-login-sm .sp-social-login-btn {
    background-position: center center;
    width: @social-icon-width * 2;
    margin: 0 8px 0 8px;
  }

  .image-properties() {
    background-repeat: no-repeat;
    background-position: 12px center;
  }

  .generator-button-states(@name, @initialColor) {
    .sp-social-login-btn.sp-social-login-btn-@{name}:hover,
    .sp-social-login-btn.sp-social-login-btn-@{name}:focus {
      background-color: darken(@initialColor, 5%);
    }

    .sp-social-login-btn.sp-social-login-btn-@{name}:active {
      background-color: darken(@initialColor, 15%);
    }
  }

  .sp-social-login-btn.sp-social-login-btn-more-expand {
    background-color: white;
    background-image: url('../../assets/more.svg');
    .image-properties();
  }

  .generator-button-states(more-expand, white);

  .sp-social-login-btn.sp-social-login-btn-google {
    background-color: @color-google;
    background-image: url('../../assets/google-color.svg');
    .image-properties();
    color: lighten(@color-text, 20%);
    box-shadow: inset 0 0 0 2px lighten(@color-text, 60%);
  }

  .generator-button-states(google, @color-google);

  .sp-social-login-btn.sp-social-login-btn-facebook {
    background-color: @color-facebook;
    background-image: url('../../assets/facebook.svg');
    .image-properties();
  }

  .generator-button-states(facebook, @color-facebook);

  .sp-social-login-btn.sp-social-login-btn-github {
    background-color: @color-github;
    background-image: url('../../assets/github.svg');
    .image-properties();
  }

  .generator-button-states(github, @color-github);

  .sp-social-login-btn.sp-social-login-btn-linkedin {
    background-color: @color-linkedin;
    background-image: url('../../assets/linkedin.svg');
    .image-properties();
  }

  .generator-button-states(linkedin, @color-linkedin);

  .sp-social-login-btn.sp-social-login-btn-saml {
    background-color: @color-saml;
  }

  .generator-button-states(saml, @color-saml);

  .sp-social-login-btn.sp-social-login-btn-twitter {
    background-color: @color-twitter;
    background-image: url('../../assets/twitter.svg');
    .image-properties();
  }

  .generator-button-states(twitter, @color-twitter);
}
