<div class="sp-password-strength" rv-class-sp-password-strength-dirty="analysis.dirty">
  <p rv-class-sp-password-strength-satisfied="analysis.bothLength">
    <span class="sp-password-strength-feedback"></span>
    {policy.minLength} - {policy.maxLength} characters
  </p>

  <p rv-if="policy.minLowerCase | gt 0" rv-class-sp-password-strength-satisfied="analysis.minLowerCase">
    <span class="sp-password-strength-feedback"></span>
    At least {policy.minLowerCase} lowercase
  </p>

  <p rv-if="policy.minUpperCase | gt 0" rv-class-sp-password-strength-satisfied="analysis.minUpperCase">
    <span class="sp-password-strength-feedback"></span>
    At least {policy.minUpperCase} uppercase
  </p>

  <p rv-if="policy.minNumeric | gt 0" rv-class-sp-password-strength-satisfied="analysis.minNumeric">
    <span class="sp-password-strength-feedback"></span>
    At least {policy.minNumeric} number
  </p>

  <p rv-if="policy.minSymbol | gt 0" rv-class-sp-password-strength-satisfied="analysis.minSymbol">
    <span class="sp-password-strength-feedback"></span>
    At least {policy.minSymbol} symbol
  </p>

  <p rv-if="policy.minDiacritic | gt 0" rv-class-sp-password-strength-satisfied="analysis.minDiacritic">
    <span class="sp-password-strength-feedback"></span>
    At least {policy.minDiacritic} diacritic
  </p>

  <p rv-if="policy.preventReuse | gt 0" rv-class-sp-password-strength-satisfied="analysis.preventReuse">
    <span class="sp-password-strength-feedback"></span>
    Not one of your last {policy.preventReuse} passwords
  </p>
</div>
