@import (reference) "../common/variables.less";
@import (reference) "../common/icons.less";

.sp-password-strength {
  p {
    margin: 0;
    font-weight: 500;
  }

  p.sp-password-strength-satisfied {
    font-weight: normal !important;
    color: @color-disabled !important;
  }

  .sp-password-strength-feedback {
    width: 14px;
    height: 14px;
    display: inline-block;
    margin-right: 2px;
  }

  .sp-password-strength-satisfied > .sp-password-strength-feedback {
    .sp-icon-success() !important;
  }
}

.sp-password-strength.sp-password-strength-dirty {
  p {
    color: darkred;
  }

  .sp-password-strength-feedback {
    .sp-icon-warning();
  }
}
