<div rv-if="policy" class="sp-password-strength">
  <p>
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-length"></span>
    {policy.minLength} - {policy.maxLength} characters
  </p>

  <p rv-if="policy.minLowerCase | gt 0">
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-lowercase"></span>
    At least {policy.minLowerCase} lowercase
  </p>

  <p rv-if="policy.minUpperCase | gt 0">
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-uppercase"></span>
    At least {policy.minUpperCase} uppercase
  </p>

  <p rv-if="policy.minNumeric | gt 0">
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-numeric"></span>
    At least {policy.minNumeric} number
  </p>

  <p rv-if="policy.minSymbol | gt 0">
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-symbol"></span>
    At least {policy.minSymbol} symbol
  </p>

  <p rv-if="policy.minDiacritic | gt 0">
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-diacritic"></span>
    At least {policy.minDiacritic} diacritic
  </p>

  <p rv-if="policy.preventReuse | gt 0">
    <span class="sp-password-strength-feedback" id="sp-password-strength-feedback-reuse"></span>
    Not one of your last {policy.preventReuse} passwords
  </p>

  Password: {props.value}
</div>
