<div class="sp-login-component">
  <div class="sp-title">Log in</div>
  <div rv-show="state | is 'loading'">Loading view model</div>
  <div rv-show="state | is 'loading_error'">Error: {error.message}</div>
  <form rv-show="state | in 'ready,login_error'" rv-on-submit="onFormSubmit">
    <fieldset class="sp-form-group" rv-show="accountStores">
      <div class="sp-login-social" rv-class-sp-login-social-sm="props.smallButtons">
        <a rv-each-dir="accountStores"
          rv-href="dir.authorizeUri"
          rv-class="dir.provider.providerId | prefix 'sp-login-btn sp-login-btn-'"
          rv-show="props.showButtons | gt index">
          Log in with {dir.name}</a>

        <a class="sp-login-btn sp-login-btn-more-expand"
           rv-show="props.showMoreButton"
           rv-on-click="toggleMore">More</a>
      </div>
      <div class="sp-social-separator"><span>or</span></div>
    </fieldset>

    <div class="sp-error" rv-show="state | is 'login_error'">{error.message}</div>

    <fieldset class="sp-form-group sp-login-password">
      <sp-form-fields fields="fields" name-prefix="'sp-form-login'"></sp-form-fields>
      <a rv-on-click="showForgotPassword">Forgot password?</a>
    </fieldset>

    <sp-submit-button label="'Log in'" submitting="props.isSubmitting"></sp-submit-button>
    <hr>
    <span class="sp-light">Don't have an account?</span> <a class="sp-right">Sign up</a>
  </form>
</div>
