@import "../common/variables.less";
@import "../common/animation.less";
@import "login-social.less";

.sp-password-toggle {
  position: absolute;
  right: 1px;
  top: 9px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  letter-spacing: 0.5pt;
  font-weight: 700;
  color: lighten(@color-text, 25%);
}

.sp-error {
  background-color: @color-error;
  font-size: 0.8rem;
  color: white;
  padding: 7px 10px;
  margin-bottom: 25px;
}

.sp-login-component {

  .sp-spinner:after {
    background-color: @color-primary-disabled;
  }
}
