<div class="sp-login-component">
  <div sp-show="state | is 'loading'">Loading view model</div>
  <div sp-show="state | is 'loading_error'">Error: {error.message}</div>
  <div sp-show="state | is 'authenticated'">You are authenticated</div>
  <form sp-show="state | in 'ready,login_error'">
    <div sp-each-field="fields">
      <label sp-for="field.name | prefix 'login-field-'">{field.label}</label>
      <input sp-id="field.name | prefix 'login-field-'"
             sp-type="field.type"
             sp-name="field.name"
             sp-value="field.value"
             sp-placeholder="field.placeholder"
             sp-required="field.required" />
    </div>
    <div sp-show="state | is 'login_error'">{error.message}</div>
    <button sp-on-click="onFormSubmit">Login</button>
  </form>
</div>
