<div class="sp-registration-component">
  <div class="sp-title">Sign up</div>
  <div class="sp-loader" rv-show="state | is 'loading'"></div>
  <div rv-show="state | is 'loading_error'">Error: {error.message}</div>
  <div rv-show="state | is 'account_enabled'">Your account has been created!</div>
  <div rv-show="state | is 'account_pending'">Your account has been created. Please check your email for a verification link.</div>
  <form rv-show="state | in 'ready,validation_error'" rv-on-submit="onFormSubmit">

    <fieldset class="sp-form-group">
      <sp-form-fields fields="fields" name-prefix="'sp-form-registration'"></sp-form-fields>
    </fieldset>

    <div class="sp-error-text" rv-show="state | is 'validation_error'">{error.message}</div>

    <div class="sp-form-group">
      <sp-submit-button label="'Sign up'" submitting="props.isSubmitting"></sp-submit-button>
    </div>
  </form>
</div>
